.main{
    text-align: center;
    margin: auto;
    margin-top: 100px;;
    
    
}
#task_div{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    
}
#task_div input{
    height:40px;
    border-radius: 5px;
    
}
#status{
    position: relative;
    top:15px;
    width:40px;
    height: 40px;
}
#addbutton{
    border: none;
    background-color: rgb(226, 43, 162);
    border-radius: 5px;
    width:100px;
    height:30px;
    cursor: pointer;
}
#addbutton:hover{
    background-color: greenyellow;
}
#listsContainer{
    display: flex;
    margin-top: 1px;
    margin: auto;
    justify-content: space-between;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;

}
#buttonsDiv{
    display: flex;
    gap: 5px;
    
}
#listsContainer #editbutton{
    border: none;
    height:100%;
    background-color: rgb(212, 138, 41);
    border-radius: 5px;

}
#listsContainer #deletebutton{
    border: none;
    height:100%;
    background-color:rgb(169, 40, 40);
    border-radius: 5px;
}
#listsData{
    height: 8vh;
    border-radius: 5px;
    margin-top: 10px;
    
}
#container{
    margin: auto;
}